<ion-header>
    <ion-toolbar>
        <ion-title>{{ selectedPlace.title }}</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onCancel()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
    <form (ngSubmit)="onBookPlace()" #f="ngForm">
        <ion-grid fixed>
            <ion-row>
                <ion-col size-sm="6">
                    <ion-item>
                        <ion-label position="floating">First Name</ion-label>
                        <ion-input type="text" ngModel required name="first-name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6">
                    <ion-item>
                        <ion-label position="floating">Last Name</ion-label>
                        <ion-input type="text" ngModel required name="last-name"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6">
                    <ion-item>
                        <ion-item>
                            <ion-label position="floating">Number of guests</ion-label>
                            <ion-select [ngModel]="'2'" name="guest-number">
                                <ion-select-option value="1">1</ion-select-option>
                                <ion-select-option value="2">2</ion-select-option>
                                <ion-select-option value="3">3</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="3">
                    <ion-item>
                        <ion-label position="floating">Check-in</ion-label>
                        <ion-datetime [min]="selectedPlace.availableFrom.toISOString()" [max]="selectedPlace.availableTo.toISOString()" displayFormat="MMM/DD/YYYY" name="booking-start" [ngModel]="endDate" required #startDate="ngModel"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col size-sm="3">
                    <ion-item>
                        <ion-label position="floating">Check-out</ion-label>
                        <ion-datetime [min]="startDate.value" [max]="selectedPlace.availableTo.toISOString()" displayFormat="MMM/DD/YYYY" name="booking-end" [ngModel]="startDate" required></ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-row>
            <ion-col size-sm="6">
                <ion-button [disabled]="!f.valid || !datesValid()" type="submit" class="w-100" color="primary">
                    Book
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
