<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]">
    <ion-thumbnail slot="start">
        <img [src]="offer.imgUrl" />
    </ion-thumbnail>
    <ion-label>
        <h1>{{ offer.title }}</h1>
        <div class="offer-details">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-text color="primary" class="space-left">{{offer.availableFrom | date}}</ion-text>
            <span class="space-left">to</span>
            <ion-icon name="calendar-outline" class="space-left"></ion-icon>
            <ion-text color="primary" class="space-left">{{offer.availableTo | date}}</ion-text>
        </div>
    </ion-label>
</ion-item>